/* ENTIRE DOCUMENT */

* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif, bold;
    color: black;
}

a {
    color: white;
}

a:hover {
    color: black;
}


/* NAV */

#mainNav, #boudieNav {
    border: none;    
    /* background-color: #BFD0EA; */
    background-color: #460a40;
    font-family: 'Playfair Display', serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

#mainNav .navbar-nav {
    width: 100%;
    text-align: center;
}

#mainNav .nav-item {
    display: block;
    margin: auto;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-size: 165%;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: white;
    text-decoration: underline;
}

#mainNav .collapse navbar-collapse {
    padding-right: 10px;
}

/* HEADER */

header.masthead {
    height: 25vh;
    margin-top: 3em;
    padding-top: 20%;
    background-position: center;
    background-image: url(../assets/header.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* PORTFOLIO */

#portfolio {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 0;
}

#portfolio .container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    font-size: 0;
}

#portfolio .col-6 {
    padding: 0;
}

/* ABOUT */

#about {
    padding: 40px;
}

/* CONTACT/FORM */

#contact {
    background-image: url(../assets/watercolor.jpg);
    padding: 40px;
    text-align: center;
}

/* FOOTER */
#footer {
    padding: 20px;
    background-color: #e5274c;
    color: white;
}

/* MEDIA QUERIES */
    
@media (max-width: 576px) {
    /* TYPE SIZES */
    h1 {
        font-size: 40px;
    }
    
    h4 {
        font-size: 25px;
    }
    
    p {
        font-size: 16px;
    }

    /* SECTION STYLING */
    #contact {
        background-position: 17% 40%;
        padding-left: 15%;
        padding-right: 15%;
    }

    form {
        padding-right: 10%;
    }
    
    #footer {
        font-size: 10px;
    }
} 

@media (max-width: 768px) {
    #footer {
        font-size: 10px;
    }
}

@media (min-width: 992px) {
/*type sizes*/
    h1 {
        font-size: 55px;
    }
    
    h4 {
        font-size: 30px;
    }
    
    p {
        font-size: 25px;
    }
}

@media(min-width: 1200px) {
    #about {
        padding-left: 20%;
        padding-right: 20%;
    }
}

/* BOUDIE PAGE */
.boudieTextFeature {
    padding: 40px;
}

.blackLink {
    color: black!important;
    text-decoration: underline;
}

.blackLink:hover {
    color: black!important;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.blackLink:visited {
    color: black!important;
    text-decoration: underline;
}

.reviewsRow {
    background-image: url(../assets/watercolor.jpg);
    width: 100%;
    margin: auto!important;
}

.review {
    text-align: center;
    display: flex;
    margin: auto;
    align-items: center;
    font-weight: 500;
}

@media(min-width: 1200px) {
    .review {
        max-width: 50vw;
        height: 400px;
        font-size: 25px;
    }
}

@media(min-width: 992px) {
    .strongText {
        padding: 20px;
    }

    .review {
        padding: 15px 40px 15px 40px;
        max-width: 60vw;
    }

    .boudieLogo {
        width: 15%;
    }
}

@media(min-width: 992px) and (max-width: 1199.98px) {
    .review {
        font-size: 22px;
        height: 400px;
    }
}

@media(max-width: 991.98px) {
    .review {
        font-size: 18px;
        padding: 0px 20px 0px 20px;
        height: 300px;
    }

    .boudieLogo {
        width: 30%;
    }
}

@media (max-width: 767.98px) {
    .review {
        height: 400px;
        max-width: 70vw;
    }
}

@media(max-width: 575.98px) {
    .review {
        height: 600px;
    }
}

@media(max-width: 991.98px) {
    .strongText {
        padding: 15px;
    }
}